<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home </title>
</head>
<body>
    
    <a href="#">Sigin</a>
    <br/>
    <a href="#">signup</a>
    <br/>
    <input type="text" name="search hotel" placeholder="search hotel"/>
    <a href="#" >search</a>
    <br/>

</body>
</html>